<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.CmsTemplateInfoDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.CmsTemplateInfo">
		INSERT INTO CMS_TEMPLATE_INFO (
		   	ID,
		   	ALIAS,
		   	MODEL_ID,
		   	TEMPLATE_PATH,
		   	ORDERS,
		   	IS_ABLE,
		   	ABLE_TIME,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{alias,jdbcType=VARCHAR},
		   	#{modelId,jdbcType=BIGINT},
		   	#{templatePath,jdbcType=VARCHAR},
		   	#{orders,jdbcType=INTEGER},
		   	#{isAble,jdbcType=TINYINT},
		   	#{ableTime,jdbcType=TIMESTAMP},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_CMS_TEMPLATE_INFO.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.CmsTemplateInfo">
		UPDATE CMS_TEMPLATE_INFO
		<set>
			<if test="alias != null">
				ALIAS = #{alias,jdbcType=VARCHAR},
			</if>
			<if test="modelId != null">
				MODEL_ID = #{modelId,jdbcType=BIGINT},
			</if>
			<if test="templatePath != null">
				TEMPLATE_PATH = #{templatePath,jdbcType=VARCHAR},
			</if>
			<if test="orders != null">
				ORDERS = #{orders,jdbcType=INTEGER},
			</if>
			<if test="isAble != null">
				IS_ABLE = #{isAble,jdbcType=TINYINT},
			</if>
			<if test="ableTime != null">
				ABLE_TIME = #{ableTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.CmsTemplateInfo">
		UPDATE CMS_TEMPLATE_INFO
		<set>
			ALIAS = #{alias,jdbcType=VARCHAR},
			MODEL_ID = #{modelId,jdbcType=BIGINT},
			TEMPLATE_PATH = #{templatePath,jdbcType=VARCHAR},
			ORDERS = #{orders,jdbcType=INTEGER},
			IS_ABLE = #{isAble,jdbcType=TINYINT},
			ABLE_TIME = #{ableTime,jdbcType=TIMESTAMP},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.CmsTemplateInfo">
		UPDATE CMS_TEMPLATE_INFO
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       ALIAS alias,
		       MODEL_ID modelId,
		       TEMPLATE_PATH templatePath,
		       ORDERS orders,
		       IS_ABLE isAble,
		       ABLE_TIME ableTime,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.CmsTemplateInfo">
		<include refid="selectFieldSQL" />
		  FROM CMS_TEMPLATE_INFO
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.CmsTemplateInfo" resultType="com.zhiyun.entity.CmsTemplateInfo">
		<include refid="selectFieldSQL" />
		  FROM CMS_TEMPLATE_INFO
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="alias != null and alias != ''">
				AND ALIAS = #{alias,jdbcType=VARCHAR}
			</if>
			<if test="modelId != null">
				AND MODEL_ID = #{modelId,jdbcType=BIGINT}
			</if>
			<if test="templatePath != null and templatePath != ''">
				AND TEMPLATE_PATH = #{templatePath,jdbcType=VARCHAR}
			</if>
			<if test="orders != null">
				AND ORDERS = #{orders,jdbcType=INTEGER}
			</if>
			<if test="isAble != null">
				AND IS_ABLE = #{isAble,jdbcType=TINYINT}
			</if>
			<if test="ableTime != null">
				AND ABLE_TIME = #{ableTime,jdbcType=TIMESTAMP}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.CmsTemplateInfo">
		<include refid="selectFieldSQL" />
		  FROM CMS_TEMPLATE_INFO
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.alias != null and entity.alias != ''">
					AND ALIAS = #{entity.alias,jdbcType=VARCHAR}
				</if>
				<if test="entity.modelId != null">
					AND MODEL_ID = #{entity.modelId,jdbcType=BIGINT}
				</if>
				<if test="entity.templatePath != null and entity.templatePath != ''">
					AND TEMPLATE_PATH = #{entity.templatePath,jdbcType=VARCHAR}
				</if>
				<if test="entity.orders != null">
					AND ORDERS = #{entity.orders,jdbcType=INTEGER}
				</if>
				<if test="entity.isAble != null">
					AND IS_ABLE = #{entity.isAble,jdbcType=TINYINT}
				</if>
				<if test="entity.ableTime != null">
					AND ABLE_TIME = #{entity.ableTime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM CMS_TEMPLATE_INFO
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.CmsTemplateInfo">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM CMS_TEMPLATE_INFO
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM CMS_TEMPLATE_INFO
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM CMS_TEMPLATE_INFO
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="alias != null and alias != ''">
				AND ALIAS = #{alias,jdbcType=VARCHAR}
			</if>
			<if test="modelId != null">
				AND MODEL_ID = #{modelId,jdbcType=BIGINT}
			</if>
			<if test="templatePath != null and templatePath != ''">
				AND TEMPLATE_PATH = #{templatePath,jdbcType=VARCHAR}
			</if>
			<if test="orders != null">
				AND ORDERS = #{orders,jdbcType=INTEGER}
			</if>
			<if test="isAble != null">
				AND IS_ABLE = #{isAble,jdbcType=TINYINT}
			</if>
			<if test="ableTime != null">
				AND ABLE_TIME = #{ableTime,jdbcType=TIMESTAMP}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO CMS_TEMPLATE_INFO (
		   	ID,
		   	ALIAS,
		   	MODEL_ID,
		   	TEMPLATE_PATH,
		   	ORDERS,
		   	IS_ABLE,
		   	ABLE_TIME,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ alias,jdbcType=VARCHAR},
		   	#{ modelId,jdbcType=BIGINT},
		   	#{ templatePath,jdbcType=VARCHAR},
		   	#{ orders,jdbcType=INTEGER},
		   	#{ isAble,jdbcType=TINYINT},
		   	#{ ableTime,jdbcType=TIMESTAMP},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_CMS_TEMPLATE_INFO.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE CMS_TEMPLATE_INFO
		<set>
			<if test="alias != null">
				ALIAS = #{alias,jdbcType=VARCHAR},
			</if>
			<if test="modelId != null">
				MODEL_ID = #{modelId,jdbcType=BIGINT},
			</if>
			<if test="templatePath != null">
				TEMPLATE_PATH = #{templatePath,jdbcType=VARCHAR},
			</if>
			<if test="orders != null">
				ORDERS = #{orders,jdbcType=INTEGER},
			</if>
			<if test="isAble != null">
				IS_ABLE = #{isAble,jdbcType=TINYINT},
			</if>
			<if test="ableTime != null">
				ABLE_TIME = #{ableTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
